.container_main {
    width: calc(1170px - 40px - 20px);
    margin: 0 auto;
    display: grid;
    .card_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .card {
            width: 33.33%;
            border: 1px solid black;
            padding: 20px;
            margin: 20px;
        }
    }

    .footer {
        display: flex;
        justify-content: end;
        margin-right: 30px;
    }

}